<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Fishing Adventures</h1>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header>
        
        
        <!-- Navigation Bar Placed Below Title -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/photos/">Photos/Videos</a></li>
                <li><a href="/regulations/">Local Regulations</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>
    

    <script src="/js/scripts.js"></script>
</body>
</html>
