<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>
        <span class="fishing">Fishing</span>
        <span class="divider"></span> <!-- Pseudo-element goes here -->
        <span class="adventure">Adventure</span>
      </h1>
      

    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=IM+Fell+Great+Primer:ital@0;1&family=Rubik+Moonrocks&display=swap" rel="stylesheet">


</head>
<body>

    <header>
        
     <nav>
            <ul class="nav-list"> 
                <li><a href="/">Home</a></li>
                <li><a href="/photos/">Photos/Videos</a></li>
                <li><a href="/regulations/">Local Regulations</a></li>
            </ul>
        </nav>
    </header>
<div>
    <main>
        {{ content }}
    </main>
</div>
            

    <script src="/js/scripts.js"></script>
</body>
</html>
