<nav>
    <ul>
        <li><a href="{{ '/' | url }}">Home</a></li>
        <li><a href="{{ '/photos/' | url }}">Photos/Videos</a></li>
        <li><a href="{{ '/regulations/' | url }}">Local Regulations</a></li>
    </ul>
</nav>
