<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header>
        <h1>{{ title }}</h1> 
    </header>

    <nav>
        <ul class="nav-list">
            <li class="nav-item">
            <li><a href="/">Home</a></li>
            <li><a href="/photos/">Photos/Videos</a></li>
            <li><a href="/regulations/">Local Regulations</a></li>
        </ul>
    </nav>

    <main>
        {{ content }}
    </main>

</body>
</html>
