---
title: Home
layout: layout.liquid
---

Welcome to Fishing Adventure

<p>Explore fishing spots, view our photos and videos, and stay up to date with local regulations.</p>

<button id="openMap">My Area</button>

<div id="mapContainer" class="map-popup" style="display: none;">
    <iframe 
        id="googleMap"
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
