---
title: "Home"
layout: layout.html
permalink: /
---

<div class="text-container">
    <h2>Welcome to Fishing Adventures</h2>
    <p>
        I was introduced to fishing by my late "Uncle Sonny." My first few experiences were upstate at stocked lakes. 
        It was exciting at first but once I tasted "THE SALT LIFE" I never looked back. 
        For me there is nothing like it. The possibilities are far greater. 
        Now I have a small center console boat that is kept not far from Smithpoint Bridge. 
        I usually cruise between the bridge and Moriches Bay.
    </p>
</div>


<button id="openMap">My Area</button>


<div id="mapPopup">
    <div class="map-content">
        <button id="closeMap" class="close-btn">Close</button>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d87018.34802314668!2d-72.77934543998306!3d40.77573042393577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1741964133268!5m2!1sen!2sus" 
            width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>