---
title: Home
layout: layout.liquid
---

<h2 class="intro">Welcome to Fishing Adventures</h2>

<p>I was introduced to fishing by my late "Uncle Sonny". My first few experiences were upstate at stocked lakes. It was exciting at first, but once I tasted "THE SALT LIFE," I never looked back. The possibilities are far greater. Now, I have a small center console boat that is kept not far from Smith Point Bridge. I usually cruise between the bridge and Moriches Bay.</p>

<button id="openMap">My Area</button>

<div id="mapContainer" class="map-popup" style="display: none;">
    <iframe 
        id="googleMap"
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
