---
title: Home
layout: layout.liquid
---

<h2 class="intro">Welcome to Fishing Adventures</h2>

<p>I was introduced to fishing by my late "Uncle Sonny". My first few experiences where upstate at stocked lakes. It was exciting at first but once I tasted "THE SALT LIFE" I never looked back. For me there is nothing like it. The possibilites are far greater.</p>

<button id="openMap">My Area</button>

<div id="mapContainer" class="map-popup" style="display: none;">
    <iframe 
        id="googleMap"
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

